$police : #FFB939;

body {
  background-color: $police;
  color: $police;
}
.page {
  height: 98vh;
  display: grid;
  grid-gap: 3px;
  grid-template-columns:  1fr;
  grid-template-rows: 11.5% auto 10%;
}
.page > * {
  background-color: #222222;
  padding: 10px;

}
ul {
  list-style-type: none;
  font-size: 1.5em;
}
.main_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.component {
  overflow: scroll;
}
footer{
  display: flex;
  align-content: center;
}

#itemAddForm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
#itemAddForm input {
  background-color: $police;
  color: black;
}
#itemAddForm input:first-child {
  width: 86%;
}


