.page {
  height: 98vh;
  max-width: 500px;
  margin: auto;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr;
  grid-template-rows: 11.5% auto 10%;
  > * {
    background-color: $element-background-color;
  }
}

header {
  padding: $base-padding;
  @include basic-flex();
  justify-content: space-between;
  align-items: center;
}

.itemAddForm {
  width: 100%;
  @include basic-flex();
  justify-content: space-around;
  input {
    background-color: $font-color;
    color: black;
    padding: 5px;
  }
  input:first-child {
    width: 86%;
  }
}

section {
  padding: $base-padding;
  overflow: hidden;
  .list_title, .arrows {
    @include basic-flex();
    justify-content: space-between;
    align-items: center;
  }
  .list_title  h1 {
    font-size: 2em;
  }
  .arrows {
    position: relative;
    top: 30%;
    .arrow {
      z-index: 1;
    }
  }
}

.item_list {
  height: 60vh;
  overflow: scroll;
  position: relative;
  top: -74px;
  ul {
    list-style-type: none;
    font-size: 1.5em;
    margin-left: 10px;
  }
}

.middle-form {
  width: 80%;
  margin: 10% 5%;
  display: flex;
  flex-direction: column;
  align-items: end;
  .form-field {
    margin-bottom: 3%;
  }
}

footer {
  padding: 2%;
  display: flex;
  align-content: center;
}

.footer-button {
  text-align: right;
  padding-right: 3%;
  //color: $font-color;

  a {
    color: $font-color;
  }
}




