{% extends 'base.html.twig' %}
{% block body %}
    <div class="page"
         data-lists="{{ lists|json_encode }}"
         data-list_names="{{ listNames|json_encode }}"
         id="page_bloc">


        <header class="bar">
            <div id="header_top">
                <div class="corner">
                    <span v-if="connected == true" class="plug fa fa-2x fa-plug"></span>
                    <span v-else>bop</span>
                </div>
                <h1>TooDoo</h1>
                <div class="corner menu ">
                    <span class="fa fa-2x fa-bars"></span>
                </div>
            </div>
            <div id="arrows">
                <p v-on:click="previousList" id="left"><<</p>
                <p v-on:click="nextList" id="right">>></p>
            </div>
        </header>
        <component v-bind:is="currentView"
                   v-bind:place-holder="placeHolder"
                   v-bind:items="items[currentView]"
                   v-bind:connected="connected"
                   v-on:to-parent-item-clicked="itemDelete"
                   v-on:to-parent-form-submit="itemCreate">
        </component>
        <footer class="bar">
            <form id="" class="el" v-on:submit.prevent="itemCreate">
                <input id="itemInput"
                       v-model="itemInput"
                       v-bind:placeholder="placeHolder"
                       v-bind:style="focusStyle">
            </form>
            <span id="resetCross" class="el  fa fa-3x fa-times"></span>
        </footer>
    </div>
{% endblock %}

