{% extends 'base.html.twig' %}
{% block body %}
    <div class="page">
        <header>
            <div id="title">
                <h1>TooDoo</h1>
            </div>
        </header>
        <div>
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form class="middle-form action="{{ path('login') }} method="post">
                <div class="form-field">
                    <input type="text"
                           id="username"
                           name="_username"
                           placeholder="Nom"
                           autofocus="autofocus"/>
                </div>
                <div class="form-field">
                    <input type="password" id="password" name="_password" placeholder="Mot de passe"/>
                </div>
                <div class="user-form-button">
                    <button type="submit">Go !</button>
                </div>

            </form>
        </div>
        <div class="footer-button">
            <h2 class="footer-title">
                <a href="{{ path('user_registration') }}">Première visite ?</a>
            </h2>
        </div>
    </div>
{% endblock %}