{% extends 'base.html.twig' %}
{% block body %}
    <div class="page" data-initialArticles="{{ initialArticles }}" id="page_bloc">
        <list-component
            v-bind:place-holder="placeHolder"
            v-bind:articles="articles"
            v-bind:connected="connected"
            v-on:to-parent-article-clicked="articleDelete"
            v-on:to-parent-form-submit="articleCreate"

        ></list-component>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('build/todo.js') }}"></script>
    {% endblock %}
