{% extends 'base.html.twig' %}
{% block body %}
    <div class="page" data-initialItems="{{ initialItems }}" id="page_bloc">
        <list-component
            v-bind:place-holder="placeHolder"
            v-bind:items="items"
            v-bind:connected="connected"
            v-on:to-parent-item-clicked="itemDelete"
            v-on:to-parent-form-submit="itemCreate"
        ></list-component>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('build/todo.js') }}"></script>
    {% endblock %}
