{% extends 'base.html.twig' %}
{% block body %}
    <div class="page" data-initialArticles="{{ initialArticles }}" id="section1">
        <header class="bar">
            <div class="corner">
                <span v-if="connected" class=" plug fa fa-2x fa-plug"></span>
            </div>
            <div class="main_title">
                <h1 class="">MY&nbsp;LIST</h1>
            </div>
            <div class="corner menu ">
                <span class="fa fa-2x fa-bars"></span>
            </div>
        </header>
        <div class="list_section">
            <div class=" article_list">
                <ul>
                    <li v-on:click="articleDelete" v-for="(article, index) of articles" v-bind:id="article.id">
                        ${ article.name }
                    </li>

                </ul>
            </div>
        </div>
        <footer class="bar">
            <form id="" class="el" v-on:submit.prevent="articleCreate">
                <input id="articleInput"
                       v-model="articleInput"
                       v-bind:placeHolder="placeHolder"
                       v-bind:style="myStyle">
            </form>
            <span id="resetCross" class="el  fa fa-3x fa-times"></span>
        </footer>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('build/todo.js') }}"></script>
    {% endblock %}
